@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@500&family=M+PLUS+2:wght@500;600;700&family=Montserrat:ital,wght@1,100&family=Shippori+Antique+B1&display=swap');

.App {
  text-align: center;
}
* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: black;
  color:aliceblue;
}

h1{
font-size: 3rem;
font-family: Bebas Neue;
}

input[type="email"],
input[type="password"] {
  font-size: 1em;
    height: 33px;
  background: white;
  padding: 0px 15px;
  font-weight: bold;
  width: 70%;
  border-radius: 15px;
  margin-top: 26px;
  color: black;
}

input[type="submit"]{
  width: 80%;
    color: white;
    background: #FFD200;
    background-color: black;
    border-radius: 3px solid #FFD200;
    border: 3px solid #FFD200;
    border-radius: 15px;
    height: 36px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
}

.error {
  cursor: pointer;
}

.div-form {
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.div-form form {
  border: 3px solid #FFD200;
  border-radius: 15px;
  height: 40%;
  width: 65%;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}

.div-hamburger {
  width: 50%;
  height: 100vh;
  background-color: white;
}


.logo {
  width: 50%;
}

.img-aside{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}
/*------CSS CONTAINER------*/

.container-menu{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo-container {
  width: 10%;
}
.input-name-cliente{
  width: 180px;
  height: 25px;
  border-radius: 12px;
}

.opciones-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  background-color: greenyellow;
  border-radius: 15px;
  width: 100px;
  height: 25px;
}

button:hover {
  background-color: rgb(236, 240, 17);
}

.comanda {
  background-color: gray;
    border-radius: 15px;
    height: 300px;
    width: 212px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.btn-enviar-cocina{
width: 150px;
height: 25px;
margin-top:auto;
border-radius: 10px;
}

.footer-table {
 width: 100%;
 margin-top:auto;
}
